CarRental.WinForm/Connected Services/AracServisi/Arac.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType />
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfArac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArac">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Arac" nillable="true" type="tns:Arac" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Arac">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AracID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AracMarka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EhliyetYasi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinYasSiniri" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukSinirKM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KendiAnlikKM" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AirBag" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BagajHacmi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KoltukSayisi" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GunlukKiralikFiyat" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SirketID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rezerve" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Sirket" type="tns:Sirket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sirket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SirketID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketSehir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketAdres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SirketAracSayisi" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aracBilgi" type="tns:Arac" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="AracSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AracSoap" type="tns:AracSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AracSoap12" type="tns:AracSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Arac">
    <wsdl:port name="AracSoap" binding="tns:AracSoap">
      <soap:address location="http://localhost:49293/Arac.asmx" />
    </wsdl:port>
    <wsdl:port name="AracSoap12" binding="tns:AracSoap12">
      <soap12:address location="http://localhost:49293/Arac.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>